.round {
    --border-radius: 3px;
    --vertical-align: middle;
    --padding: 30px;
    margin-left:10px;
}

.big{
    width:25px;
    height:25px;
    margin:10px;
}

ion-item{
    min-height:60px;
}
  